body {
    background-color: #ee8cc2;
    padding: 2rem;
}

.todo-app {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background: #008EB0; /* Синий цвет фона */
    color: #fff; /* Белый цвет текста */
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 3px;
}

.red {
    background: #C1172C;
}

.center-text {
    text-align: center;
}

.todo-item input[type="checkbox"] {
    margin-right: 1rem;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.todo-item .text {
    flex: 1;
    word-break: break-word; /* Переносит слово на следующую строку */
    white-space: pre-wrap;  /* Сохраняет пробелы и переносы строк */
    max-width: 100%;        /* Устанавливает максимальную ширину для текста */
}

.todo-item .delete {
    color: red;
    cursor: pointer;
}

textarea::placeholder {
    text-align: center;
}

.add-button {
    background: #008EB0; /* Синий цвет фона */
    color: #fff; /* Белый цвет текста */
}

.filters button.active {
    background: #004D66; /* Темно-синий цвет для активного состояния */
}

.pagination-container {
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Добавлено для предотвращения выхода за рамки контейнера */
    flex-wrap: wrap; /* Добавлено для переноса кнопок на новую строку при необходимости */
}

.pagination {
    display: flex;
    flex-wrap: wrap; /* Добавлено для переноса кнопок на новую строку при необходимости */
    justify-content: center;
    margin-top: 1rem;
}

.pagination button {
    background: #008EB0; /* Синий цвет фона */
    color: #fff; /* Белый цвет текста */
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 3px;
}

.pagination button:disabled {
    background: #ddd;
    cursor: not-allowed;
}

.pagination .page-number {
    background: transparent;
    color: #000;
    border: none;
    margin: 0 0.5rem;
    cursor: pointer;
}

.todo-list {
    min-height: calc(5 * 3rem);
}